/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 70px; /* Adjust this based on the actual height of your header */
    box-sizing: border-box;
  }
  header {
    position: fixed; /* Fixed position */
    top: 0; /* Aligns the header to the top of the viewport */
    left: 0;
    right: 0;
    background-color: #fff; /* Existing background color */
    color: #5f5f5f;
    z-index: 1000; /* Ensures the header is above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for better visibility */
  }
  /* Hero Section Styles */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Adjust based on your preference */
    padding: 50px; /* Add some padding */
    background-color: rgb(37, 93, 157,0.1)
    /* opacity: 0.5; */
  
  }
  /* Keyframes for rotate effect */
  
  
  
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .hero-image img {
    max-width: 100%; /* Ensure the image is responsive and doesn't overflow */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Rounds the corners of the image */
  }
  
  .hero-content {
    flex: 1;
    padding-left: 50px; /* Space between the image and the text */
    animation: fadeIn 2s ease-in; /* Adjust duration and easing as needed */
  
    
  }
  
  .hero-content h1 {
    font-size: 3rem; /* Large text for the main heading */
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.5rem; /* Subtitle text size */
    margin-bottom: 2rem;
  }
  
  
  
  /* CTA Button Styles (same as before) */
  /* CTA Button Styles */
  .cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #f39139; /* Original background color */
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #f39139; /* Original border color */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  }
  
  /* Hover Effect for CTA Button */
  .cta-button:hover {
    background-color: #255e9e; /* Change to a different color on hover */
    border: 1px solid #255e9e; /* Original border color */
  
    transform: scale(1.05); /* Slightly increase the size */
    cursor: pointer;
  }
  
  
  
  .mobile-menu-icon {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    font-size: 2rem; /* Large icon size */
    cursor: pointer;
    color: #333;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #333;
    background-color: #5f5f5f; /* Match your navbar color */
  }
  /* Header Styles */
  header nav {
    background-color: #fff;
    color: #5f5f5f;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    position: relative;
    
  
  }
  
  header nav img {
    height: 50px; /* Adjust to your logo's aspect ratio */
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  header nav ul li {
    padding: 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #5f5f5f;
    padding: 10px 15px; /* Padding for the links */
    border-radius: 5px; /* Border radius */
    transition: background-color 0.3s, color 0.3s;  }
  
  header nav ul li a:hover {
    color: #f5f5f5;
    background-color: #5f5f5f;
    border-radius: 10px;
    padding: 10px 15px; /* Padding for the links */
  border-radius: 10px; /* Border radius */
  transition: background-color 0.3s, color 0.3s;
  }
  
  /* Section Styles */
  section {
    padding: 60px 20px;
  }
  
  /* Home Section Styles */
  .home {
    text-align: center;
  }
  /* Divider Style */
  .divider {
    position: relative;
    height: 200px;
    width: 4px;
    background: linear-gradient(to bottom, #f39139 40%, transparent 40%, transparent 60%, #255e9e 60%);
    margin: 0 20px;
    /* animation: oscillateRotate 2s ease-in-out infinite; Adjust the duration and easing as needed */
  
  }
  
  /* Adding decorative circles */
  .divider::before, .divider::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #255e9e;
    border-radius: 50%;
  }
  
  .divider::before {
    top: -10px; /* Positioned at the top of the divider */
  }
  
  .divider::after {
    bottom: -10px; /* Positioned at the bottom of the divider */
    background-color: #f39139 !important;
  
  }
  /* About Section Styles */
  .about {
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgb(37, 93, 157,0.3);;
    transition: 0.3s;
    width: 40%; /* Adjust based on your preference */
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    animation: fadeIn 2s ease-in; /* Adjust duration and easing as needed */
  
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #255e9e;
  }
  .card p {
    font-family: 'Arial', sans-serif; /* Change to your preferred font */
    font-size: 16px; /* Adjust the size as needed */
    text-align: justify;
    line-height: 1.6; /* Adjust line height for better readability */
    /* Add any other font styling as needed */
  }
  .img{
    width: 100%;
  
  }
  .additional-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  .course-card{
    box-shadow: 0 4px 8px 0 rgb(37, 93, 157,0.3);;
    transition: 0.3s;
    width: 30%; 
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    animation: fadeIn 2s ease-in; 
    /* width: calc(33.33% - 20px); Adjust the width based on your design */
  margin-bottom: 20px; /* Adjust the margin as needed */
  }
  .services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px; /* Adjust as per your layout */
  }
  
  .service-card {
    flex-basis: 22%; /* Adjust based on spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    animation: fadeIn 2s ease-in; /* Adjust duration and easing as needed */
    box-shadow: 0 4px 8px 0 rgba(157, 37, 135, 0.3);
    cursor: pointer;
  
  }
  .service :hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .service-icon {
    font-size: 30px; /* Adjust the size as needed */
    color: #f5f5f5; /* Adjust the color as needed */
    margin-bottom: 10px; /* Spacing between icon and title */
    cursor: pointer;
  }
  .services-header {
    text-align: center;
    margin-bottom: 30px; /* Adds space between the header/description and the cards */
  }
  
  .services-header h2 {
    font-size: 2rem; /* Adjust size as needed */
    margin-bottom: 10px; /* Space between the header and the description */
  }
  
  .services-header p {
    font-size: 1.2rem; /* Adjust size as needed */
    color: #555; /* Adjust color as needed */
    max-width: 600px; /* Adjust width as needed */
    margin: auto; /* Centers the text block */
  
    font-family: 'Arial', sans-serif; /* Change to your preferred font */
    text-align: justify;
    line-height: 1.6; /* Adjust line height for better readability */
    /* Add any other font styling as needed */
  }
  a{
    text-decoration: none;
  }
  .different{
    color:#ec6462 ;  
    animation: fadeIn 2s ease-in-out;
  }
  .course{
    background: linear-gradient(45deg, #f39139, #ee9ca7);
  
  background-color: rgb(243, 144, 57, 0.5)
  }
  .webAppilcation{
    background: linear-gradient(45deg, #255e9e, #ffdde1);
  
  background-color: #2596bc;
  }
  .webSite{
    background: linear-gradient(45deg, #ee9ca7, #255e9e);
  background-color: #ec6462;
  }
  /* Contact Section Styles */
  .contact-us {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    
    margin-top: 5%;
  }
  .contact-icon {
    margin-right: 15px; /* Adjust the space as needed */
    font-size: 30px; /* Adjust the size as needed */
    /* Other styles, such as color, can also go here */
  
  }
  .contact-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* Adjust as needed */
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #f0eded,#ede6e7, #efe0d3);
  
  
  }
  .contact-card a{
    color: #fff;
  
  }
  .contact-card a:hover{
    color: #fff;
    text-decoration: none;
  }
  .contact-option {
    margin: 10px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .contact-option .fa-icon {
    margin-right: 8px;
    font-size: 20px; /* Adjust size as needed */
  }
  .phone-icon {
    color: #4CAF50; /* Green for phone */
    animation: oscillateRotate 2s ease-in-out infinite; /* Adjust the duration and easing as needed */
  
  }
  
  .email-icon {
    color: #df0a0a; /* Blue for email */
    animation: oscillateRotate 2s ease-in-out infinite; /* Adjust the duration and easing as needed */
  
  }
  .whatsapp-icon {
    color:#098b0d; /* Blue for email */
    animation: oscillateRotate 2s ease-in-out infinite; /* Adjust the duration and easing as needed */
  
  }
  .facebook-icon {
    color: #16578d; /* Blue for email */
    animation: oscillateRotate 2s ease-in-out infinite; /* Adjust the duration and easing as needed */
  
  }
  /* Additional styling as needed */
  
  .contact a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: #ec6462;
    /* background-color: #ddd; */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact a:hover {
    background-color: #ccc;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    body {
      padding-top: 60px; /* Adjust this for mobile view if needed */
    }
    .nav-links {
      display: none; /* Hide the links by default on mobile */
      flex-direction: column; /* Stack the links vertically */
      width: 100%; /* Full width */
      position: absolute;
      top: 60px; /* Height of the nav bar */
      left: 0;
      background-color: #f39139; /* Match your navbar color */
      color: #ccc;
      padding: 10px 15px; /* Padding for the links */
  border-radius: 5px; /* Border radius */
  transition: background-color 0.3s, color 0.3s;
    }
    .nav-links a {
      /* Match your navbar color */
        color: #f5efef;
      }
      .nav-links a:hover {
        /* Match your navbar color */
          color: #f39139;
          background: #f5efef;
          border-radius: 10px;
          padding: 10px 15px; /* Padding for the links */
          border-radius: 5px; /* Border radius */
          transition: background-color 0.3s, color 0.3s;
        }
  
    .nav-links.mobile-menu {
      display: flex; /* This will show the menu */
    }
  
    .mobile-menu-icon {
      display: block; /* Show the menu icon on mobile */
    }
    .hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-image {
      margin-bottom: 30px;
    }
  
    .hero-content {
      padding-left: 0;
    }
    .about, .services {
      flex-direction: column;
    }
  
    .card, .about .card {
      width: 80%; /* Adjust based on your preference */
      margin: 10px auto;
    }
  
    header nav ul {
      flex-direction: column;
      width: 100%;
    }
  
    header nav ul li {
      text-align: center;
      width: 100%;
    }
    .divider {
      width: 80%; /* Width when in a horizontal layout */
      height: 2px; /* Thickness in horizontal layout */
      margin: 20px auto; /* Centering the divider horizontally */
    }
    .service-card {
      flex-basis: 45%; /* Adjust for smaller screens */
    }
    .modal-img {
        max-width: 100%; /* Ensure the image fits within the modal */
        height: auto; /* Maintain aspect ratio */
        width: auto;
        margin-bottom: 10px; /* Space below the image */
      }
      .modal-body{
        text-align: center;
        color: #255e9e;
        animation: fadeIn 2s ease-in; 
        width: 400px !important;
        overflow: auto;
        height: 400px !important;
      }
      .modal{
        margin-top: 20%;
        max-width: 400px;
        max-height: 400px;
      }
      .modal-header{
        text-align: center;
        color: #ec6462;
        animation: fadeIn 2s ease-in; 
        width: 400px;
        overflow: auto;
        height: auto;
      }
      .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(37, 93, 157, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .close-icon{
        /* position: absolute; */
        top: 0;
        right: 0;
        font-size: 30px;
        color: #555;
        cursor: pointer;
      }
      .additional-div{
        flex-direction: column;

      }
      .course-card{
        width: 80%;
        margin: 10px auto;
      }
      .img{
        width: 100%;
      
      }
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes oscillateRotate {
    0%, 100% {
      transform: rotate(-10deg); /* Rotates 10 degrees to the left */
    }
    50% {
      transform: rotate(10deg); /* Rotates 10 degrees to the right */
    }
  }
  @keyframes verticalFlip {
    0%, 100% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(90deg);
    }
  }
  /* Keyframes for fade-in effect */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(37, 93, 157, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5%;
    max-height: 800;
    max-width: 800px;
    background: linear-gradient(45deg, #f5f5f5,rgb(37, 93, 157,0.3));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .modal-img {
    max-width: 100%; /* Ensure the image fits within the modal */
    /* max-height: 400px; Maintain aspect ratio */
    width: auto;
    margin-bottom: 10px; /* Space below the image */
  }
  .close-icon{
    /* position: absolute; */
    top: 0;
    right: 0;
    font-size: 30px;
    color: #555;
    cursor: pointer;
  }
  .close-icon:hover{
    /* position: absolute; */
    top: 0;
    right: 0;
    font-size: 30px;
    color: #353232;
    cursor: pointer;
  }
  .modal-header{
   text-align: center;
   color: #ec6462;
   animation: fadeIn 2s ease-in; 

  }
  .modal-body{
    text-align: center;
    color: #255e9e;
    animation: fadeIn 2s ease-in; 
    width: 800px;
    overflow: auto;
    height: auto;
  }